*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameBoard{
    z-index: -1;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem;
 
    
}

.cell{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 7rem;
    height: 7rem;
    font-size: 3rem;
}
#cell1, #cell2, #cell3, #cell4, #cell5, #cell6{
   border-bottom: 5px groove rgb(255, 3, 242);  
}
#cell1, #cell4, #cell7, #cell2, #cell5, #cell8{
    border-right: 5px groove rgb(255, 3, 242);  
 }

.startWindow{
    width:20rem;
    height: 10rem;
    background-color: rgb(223, 119, 0);
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: grid;
    gap: 1rem;
    padding: 3rem;
}

.players{
    display: flex;
    gap:10rem;
}
.gameDisplay{
    left:5rem;
    position: absolute;
    font-size: 3rem;
}

