*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameBoard{
    z-index: -1;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
 
    
}

.cell{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 7rem;
    height: 7rem;
    border: 2px solid black;
    font-size: 3rem;
}

.startWindow{
    width:20rem;
    height: 10rem;
    background-color: rgb(223, 119, 0);
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: grid;
    gap: 1rem;
    padding: 3rem;
}

.players{
    display: flex;
    gap:10rem;
}


